{
  "extends": ["react-app", "plugin:prettier/recommended"],
  "parserOptions": {
    "ecmaFeatures": 2018,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "no-unused-vars": [
      "error",
      {
        "vars": "local",
        "args": "none"
      }
    ]
  }
}
